@charset "UTF-8";

.sub_box{
    display: flex;
    height: 100px;
    border-top: 1px solid #d4a5a5;
    padding-top:20px;
    margin-bottom:20px;
}
.sub_name{
    display: flex;
    flex-grow: 7;
    justify-content: center;
    align-items:center;
    color:#484848;
}
.sub_search{
    display: flex;
    flex-grow: 0.1;
    justify-content: center;
    align-items:center;
}
.sub_search input{
    height:25px;
    line-height:25px;
    justify-content: center;
    align-items:center;
    color:#8b8b8b;
}
.search_btn{
    padding:0px 7px;
    margin-left:5px;
    font-size: 14px;
}
.member_list{
    flex-grow: 2;
    padding-left: 20px;
}
.member_list form > input {
    height: 30px;
}
.member_list table{
    width: 98%;
    text-align: center;
}
.tr_header{
    background-color: #f7e7e7;
}
.member_list tr{
    border-top:2px solid #d4a5a5;
    border-bottom:1px solid #d4a5a5;
    height: 80px;
}
.sub_top{
    display: flex;
}
.sub_top span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.list_cell02 a{
    color: black;
}
.list_cell02 button{
    padding:3px 10px;
    border:1px solid #888888;
    border-radius: 2px;
    font-size: 14px;
}

/*     page number 부분      */
.page_number{
    margin-top:30px;
    display: flex;
    justify-content: center;
}
.pagination{
    display: flex;
}
.pagination a{
    color:#484848;
}
.pagination li{
    font-size: 12px;
    list-style: none;
}