@charset "UTF-8";


.sub_box{
    display: flex;
    height: 100px;
    border-top: 1px solid #d4a5a5;
    justify-content: center;
    align-items:center;
    color:#484848;
    padding-top:20px;
    margin-bottom:20px;
}

/* notice 수정 페이지 */
.notice_edit{
    border: 2px solid #d4a5a5;
    border-left: none;
    border-right: none;
    width: 100%;
    height: auto;
}
.title_inp{
    width:700px;
    height:35px;
}
#notice_contents{
    border:1px solid #cfcfcf;
    border-radius: 3px;
}
.notice_edit td{
    padding: 20px 0;
}
.notice_table{
    width: 30%;
    text-align: center;
}
.notice_button{
    text-align: center;
    margin-top:30px;
}
.notice_button input{
    border: 2px solid rgb(177, 176, 176);
    background-color: rgb(233, 232, 232);
    color: rgb(177, 176, 176);
    width: 80px;
    height: 30px;
    border-radius: 7px;
}
.select_btn{
    width:100px;
    height:30px;
    background-color: #e2bcbc;
    border:1px solid #d4a5a5;
    border-radius: 2px;
    color:white;
}
.write_btn{
    width:150px;
    height:50px;
    background-color: #e2bcbc;
    border:1px solid #d4a5a5;
    border-radius: 3px;
    color:white;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder 
{ /* WebKit browsers */ color:transparent; } 
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder 
{ /* Mozilla Firefox 4 to 18 */ color:transparent; } 
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder 
{ /* Mozilla Firefox 19+ */ color:transparent; } 
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder 
{ /* Internet Explorer 10+ */ color:transparent; }