@charset "UTF-8";

    /* content 오른쪽 */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    
    
    .sub_box{
        /* border-bottom:1px solid #d4a5a5; */
        width:100%;
        display: flex;
        height: 100px;
        border-top: 1px solid #d4a5a5;
        padding-top:20px;
        }
    .sub_name{
        display: flex;
        flex-grow: 8;
        justify-content: center;
        align-items:center;
        color:#484848;
    }
    
    .sub_search{
        display: flex;
        flex-grow: 0.1;
        justify-content: center;
        align-items:center;
    }
    .sub_search input{
        height:25px;
        line-height:25px;
        justify-content: center;
        align-items:center;
        color:#8b8b8b;
    }
    .search_btn{
        padding:1px 9px;
        margin-left:5px;
        font-size: 14px;
        border:1px solid #888888;
        border-radius: 2px;
    }
    
    
    table {
        height: 80px;
        width:100%;
        text-align: center;
    }
    
    .tr_header{
        border-top:2px solid #d4a5a5;
        border-bottom:1px solid #d4a5a5;
        background-color: #f7e7e7;
    }
    
    .one2one_list{
        flex-grow: 2;
        padding-left: 20px;
    }
    .one2one_list form > input {
        height: 30px;
    }
    .one2one_list table{
        width: 98%;
        text-align: center;
    }
    .one2one_list tr{
        border-top:2px solid #d4a5a5;
        border-bottom:1px solid #d4a5a5;
        height: 80px;
    }
    
    
    
    /*     page number 부분      */
    .page_number{
        margin-top:10px;
        display: flex;
        justify-content: center;
    }
    .pagination{
        display: flex;
    }
    .pagination a{
        color:#484848;
    }
    .pagination li{
        font-size: 12px;
        list-style: none;
    }
    
    img{width: 100px; height: 100px}
    
        input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder 
        { /* WebKit browsers */ color:transparent; } 
        input:focus:-moz-placeholder, textarea:focus:-moz-placeholder 
        { /* Mozilla Firefox 4 to 18 */ color:transparent; } 
        input:focus::-moz-placeholder, textarea:focus::-moz-placeholder 
        { /* Mozilla Firefox 19+ */ color:transparent; } 
        input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder 
        { /* Internet Explorer 10+ */ color:transparent; }